In [17]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [14]:
df=pd.read_csv('C:\\Users\\RANA ASIM\\Downloads\\toy_dataset.csv\\toy_dataset.csv')

In [15]:
df

        Number    City  Gender  Age    Income Illness
0            1  Dallas    Male   41   40367.0      No
1            2  Dallas    Male   54   45084.0      No
2            3  Dallas    Male   42   52483.0      No
3            4  Dallas    Male   40   40941.0      No
4            5  Dallas    Male   46   50289.0      No
...        ...     ...     ...  ...       ...     ...
149995  149996  Austin    Male   48   93669.0      No
149996  149997  Austin    Male   25   96748.0      No
149997  149998  Austin    Male   26  111885.0      No
149998  149999  Austin    Male   25  111878.0      No
149999  150000  Austin  Female   37   87251.0      No

[150000 rows x 6 columns]

In [16]:
df.isnull().sum()

Number      0
City        0
Gender      0
Age         0
Income     17
Illness     0
dtype: int64

In [45]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['Income']), 
    ('tnf2',OrdinalEncoder(categories=[['Male','Female']]),['Gender']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['City'])
     ],remainder='passthrough')

In [46]:
transformer.fit_transform(X_train).shape

C:\Users\RANA ASIM\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(120000, 11)