In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('C:\\Users\\RANA ASIM\\Downloads\\archive (4)\\tested.csv')[['Age','Pclass','Fare','Survived']]
df.sample(5)

      Age  Pclass    Fare  Survived
318  27.0       3  7.8542         0
233   NaN       3  7.8792         0
104  16.0       3     NaN         1
286   NaN       3  7.2500         0
352  18.0       2     NaN         0

In [4]:
df.isnull().mean()

Age         0.205742
Pclass      0.000000
Fare        0.174641
Survived    0.000000
dtype: float64

In [5]:
X=df.drop('Survived',axis=1)
y=df['Survived']
print('shape of X=',X.shape)
print('shape of y=',y.shape)

shape of X= (418, 3)
shape of y= (418,)

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [21]:
knn=KNNImputer(n_neighbors=10,weights='distance')
X_train_trf=knn.fit_transform(X_train)
X_test_trf=knn.transform(X_test)

In [22]:
pd.DataFrame(X_train_trf,columns=X_train.columns)

      Age  Pclass      Fare
0    32.0     2.0  13.00000
1    24.0     2.0  31.50000
2    21.3     2.0  10.70830
3    24.0     1.0  82.26670
4    19.0     2.0  10.50000
..    ...     ...       ...
329  21.0     3.0   7.89580
330  21.0     3.0  14.60333
331  46.0     1.0  31.38834
332  24.0     2.0  26.07570
333  29.0     3.0   7.75000

[334 rows x 3 columns]

In [23]:
lr=LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred=lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.6071428571428571

In [26]:
#Expperiment
si=SimpleImputer()
X_train_trf2=si.fit_transform(X_train)
X_test_trf2=si.transform(X_test)

In [27]:
lr=LogisticRegression()
lr.fit(X_train_trf2,y_train)
y_pred=lr.predict(X_test_trf2)
accuracy_score(y_test,y_pred)

0.6071428571428571

# Iterative Imputer