In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
train=pd.read_csv("C:\\Users\\RANA ASIM\\Downloads\\archive (1)\\train.csv")
test=pd.read_csv("C:\\Users\\RANA ASIM\\Downloads\\archive (1)\\test.csv")
print("shape of train=",train.shape)
print("shape of test=",test.shape)

shape of train= (29451, 12)
shape of test= (68720, 11)

In [3]:
train.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2.0,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2.0,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2.0,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2.0,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2.0,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [4]:
test.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE
0,Owner,0,0,1,BHK,545.171340,1,1,"Kamrej,Surat",21.262000,73.047700
1,Dealer,1,1,2,BHK,800.000000,0,0,"Panvel,Lalitpur",18.966114,73.148278
2,Dealer,0,0,2,BHK,1257.096513,1,1,"New Town,Kolkata",22.592200,88.484911
3,Dealer,0,0,3,BHK,1400.329489,1,1,"Kalwar Road,Jaipur",26.988300,75.584600
4,Owner,0,0,1,BHK,430.477830,1,1,"Mai Mandir,Nadiad",22.700000,72.870000

In [5]:
X_train=train.drop(columns='TARGET(PRICE_IN_LACS)')
y_train=train['TARGET(PRICE_IN_LACS)']
print("shape of X_train=",X_train.shape)
print("shape of y_train=",y_train.shape)

shape of X_train= (29451, 11)
shape of y_train= (29451,)

# Numerical Missing values Imputation

In [6]:
num_vars=X_train.select_dtypes(include=['int64','float64']).columns
num_vars

Index(['UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'SQUARE_FT', 'READY_TO_MOVE',
       'RESALE', 'LONGITUDE', 'LATITUDE'],
      dtype='object')

In [7]:
X_train[num_vars].isnull().sum()

UNDER_CONSTRUCTION     0
RERA                   0
BHK_NO.               20
SQUARE_FT             38
READY_TO_MOVE          0
RESALE                 0
LONGITUDE              8
LATITUDE              28
dtype: int64

In [8]:
imputer_mean=SimpleImputer( strategy='mean')
#imputer_mean=SimpleImputer( strategy='constant',fill_value=99) #for our own value imputation
imputer_mean.fit(X_train[num_vars])

SimpleImputer()

In [9]:
imputer_mean.statistics_

array([1.79756205e-01, 3.17917898e-01, 2.39254528e+00, 1.98262089e+04,
       8.20243795e-01, 9.29577943e-01, 2.12993112e+01, 7.68365412e+01])

In [10]:
imputer_mean.transform(X_train[num_vars])

array([[ 0.      ,  0.      ,  2.      , ...,  1.      , 12.96991 ,
        77.59796 ],
       [ 0.      ,  0.      ,  2.      , ...,  1.      , 12.274538,
        76.644605],
       [ 0.      ,  0.      ,  2.      , ...,  1.      , 12.778033,
        77.632191],
       ...,
       [ 0.      ,  0.      ,  2.      , ...,  1.      , 26.928785,
        75.828002],
       [ 0.      ,  0.      ,  2.      , ...,  1.      , 12.90015 ,
        80.22791 ],
       [ 0.      ,  1.      ,  2.      , ...,  1.      , 26.832353,
        75.841749]])

In [11]:
X_train[num_vars]=imputer_mean.transform(X_train[num_vars])
test[num_vars]=imputer_mean.transform(test[num_vars])

In [12]:
X_train[num_vars].isnull().sum()

UNDER_CONSTRUCTION    0
RERA                  0
BHK_NO.               0
SQUARE_FT             0
READY_TO_MOVE         0
RESALE                0
LONGITUDE             0
LATITUDE              0
dtype: int64

In [13]:
test[num_vars].isnull().sum()

UNDER_CONSTRUCTION    0
RERA                  0
BHK_NO.               0
SQUARE_FT             0
READY_TO_MOVE         0
RESALE                0
LONGITUDE             0
LATITUDE              0
dtype: int64

# Catagorical Missing values Imputation

In [14]:
cat_vars=X_train.select_dtypes(include=['O']).columns
cat_vars

Index(['POSTED_BY', 'BHK_OR_RK', 'ADDRESS'], dtype='object')

In [15]:
X_train[cat_vars].isnull().sum()

POSTED_BY     0
BHK_OR_RK    13
ADDRESS      26
dtype: int64

In [16]:
impute_mode=SimpleImputer(strategy='most_frequent')
impute_mode.fit(X_train[cat_vars])

SimpleImputer(strategy='most_frequent')

In [17]:
impute_mode.statistics_

array(['Dealer', 'BHK', 'Zirakpur,Chandigarh'], dtype=object)

In [18]:
X_train[cat_vars]=impute_mode.transform(X_train[cat_vars])
test[cat_vars]=impute_mode.transform(test[cat_vars])

In [19]:
X_train[cat_vars].isnull().sum()

POSTED_BY    0
BHK_OR_RK    0
ADDRESS      0
dtype: int64

In [20]:
X_train.isnull().sum().sum()

0